header {
	flex-shrink: 0;
	background: rgba(20, 20, 20, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;

	.navbar {
		align-items: center;
		padding: 1rem 0;

		.navbar-toggler {
			border: 0;

			&:focus {
				box-shadow: none;
			}

			.navbar-toggler-icon {
				background-image: url("../images/bar.png");
			}
		}

		.navbar-nav {
			@include large_desktop {
				align-items: center;
			}
		}

		.navbar-brand {
			padding: 0;

			img {
				max-height: 68px;
				@include mobile {
					max-height: 35px;
				}
			}
		}

		.nav-item {
			@include moblet {
				margin-bottom: 0.5rem;
			}

			+ .nav-item {
				margin-left: 2rem;
				@include moblet {
					margin-left: 0;
				}
			}

			.nav-link {
				padding: 0;
				color: white;

				&.active, &:hover {
					color: $color-primary;
				}
			}
		}
	}

	.address {
		display: flex;
		align-items: center;
		background: linear-gradient(180deg, #23263F 0%, rgba(16, 18, 34, 0) 100%);
		border-radius: 12px;
		padding: 0.25rem 1rem;
		border: 1px solid white;
		margin: 0 8rem 0.25rem auto;
		@include mobile {
			margin: 0 auto;
			font-size: 12px;
		}

		&:hover {
			background: linear-gradient(180deg, #23263F 100%, rgba(16, 18, 34, 0) 100%);
		}

		.text-primary {
			color: #FDE68A !important;
			font-weight: 700;
		}

		img {
			width: 18px;
			height: 18px;
			@include mobile {
				width: 15px;
				height: 15px;
			}
		}
	}
}

.youtube-container {
	width: 100% !important;
	height: 100vh !important;

	@include mobile {
		height: auto !important;
	}

	video {
		object-fit: fill;
	}
}