.section {
	padding: 3rem 0;

	.content {
		line-height: 32px;
		@include mobile {
			font-size: 14px;
			line-height: 24px;
		}
	}

	&.about-us {
		background: url("../images/bg-about.png") no-repeat;
		background-size: cover;
		padding-bottom: 0;

		.content {
			color: #0F172A;
		}
	}

	&.how-to-buy {
		background-color: #F8FAFC;

		.card-game {
			background: #1F71F4 url("../images/bg-card.png") no-repeat;
			border-radius: 1.3rem;
			padding: 1.5rem;
			background-size: 100% 100%;
			color: white;
			height: 100%;

			.title {
				display: flex;
				flex-wrap: nowrap;
				align-items: center;
				font-weight: 700;
				font-size: 32px;
				line-height: 40px;
				margin-bottom: 1.5rem;
				@include moblet {
					font-size: 18px;
					margin-bottom: 0.5rem;
				}

				.icon {
					padding: 0.5rem;
					border-radius: 100%;
					width: 70px;
					height: 70px;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: white;
					margin-right: 1rem;
					@include moblet {
						width: 50px;
						height: 50px;
					}

					img {
						width: 50px;
						height: 50px;
						object-fit: contain;
						@include moblet {
							width: 30px;
							height: 30px;
						}
					}
				}
			}

			.content {
				@include mobile {
					line-height: 17px;
				}
			}
		}
	}

	&.tokenomics {
		background: url("../images/bg-about.png") no-repeat;
		background-size: cover;

		.title {
			font-size: 30px;
			line-height: 42px;
			@include mobile {
				font-size: 18px;
				line-height: 25px;
			}
		}

		.box {
			@include large_desktop {
				display: grid;
				grid-template-areas:
		        "content main main"
		        "bottom main main";
				gap: 2rem;
			}

			.top-content {
				grid-area: content;
			}

			.image-main {
				grid-area: main;
				display: flex;
			}

			.image-bottom {
				grid-area: bottom;
				display: flex;
			}
		}

		.content {
			color: #1F71F4;
		}

		.percents {
			.item {
				display: flex;
				align-items: flex-start;
				margin-bottom: 1rem;

				&:nth-child(2) {
					&:before {
						background-color: #FB83AE;
					}
				}

				&:nth-child(3) {
					&:before {
						background-color: #66B9F9;
					}
				}

				&:last-child {
					&:before {
						background-color: #FFC078;
					}
				}

				&:before {
					content: "";
					display: block;
					width: 50px;
					height: 50px;
					background-color: #6EDDBB;
					border-radius: 100%;
					margin-right: 1rem;
					padding: 25px;
				}

				.number {
					color: #0F172A;
					font-size: 22px;
					line-height: 24px;
					font-weight: 700;
					@include mobile {
						font-size: 16px;
						line-height: 18px;
					}
				}

				.desc {
					line-height: 36px;
					color: #475569;
					@include mobile {
						font-size: 12px;
						line-height: 24px;
					}
				}
			}
		}

		.js-animation {
			margin-top: -5rem;
			@media (max-width: 1200px) {
				margin-top: -3rem;
			}
		}
	}

	&.roadmap {
		background-color: #F8FAFC;

		.heading-lg {
			margin-bottom: 5rem;
		}

		.card-map {
			border-radius: 16px;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0.953125) 0%, rgba(255, 255, 255, 0) 100%);
			padding: 1.5rem;
			height: 100%;

			&:hover {
				background: linear-gradient(180deg, #DEEDFF 0%, rgba(241, 241, 241, 0) 100%);
				cursor: pointer;
			}

			.title {
				display: flex;
				color: #1F71F4;
				justify-content: space-between;

				span {
					margin-bottom: 1.5rem;
					padding-bottom: 1.5rem;
					border-bottom: 1px solid #1F71F4;
				}

				.icon {
					margin-top: -4rem;
				}
			}

			ul {
				list-style-type: none;
				padding: 0;

				li {
					background-image: url("../images/circle.png");
					background-repeat: no-repeat;
					background-position: 0 5px;
					padding-left: 30px;

					a {
						color: black;
					}

					+ li {
						margin-top: 1rem;
					}
				}
			}
		}
	}

	&.nft {
		background: #1E40AF url(../images/bg-nft.jpg) no-repeat;
		background-size: 100% 100%;
		padding: 60px 0;
		color: white;
		@media (min-width: 1600px) {
			background-position: 80px 0;
		}
		@include moblet {
			background: #1E40AF url("../images/bg-nft-mb.jpg") no-repeat;
			background-size: contain;
		}
		@include mobile {
			padding: 40px 0;
		}

		ul {
			li {
				margin: 1rem 0;
			}
		}
	}

	&.payment {
		.heading-lg {
			@include mobile {
				margin-bottom: 1rem;
			}
		}

		.partners {
			.item {
				padding: 1.5rem 3.8rem;
				border-radius: 1.5rem;
				background-color: #F1F5F9;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				&:hover {
					background-color: darken(#F1F5F9, 10%);
				}
			}
		}
	}

	&.game {
		background: #1E40AF url(../images/bg-game.jpg) no-repeat;
		background-size: 100% 100%;
		padding: 0;

		.image {
			width: 100%;
			@include large_desktop {
				height: 700px;
			}
		}

		.custom-padding {
			padding: 4rem;
			@include mobile {
				padding: 3rem 1rem;
			}
		}
	}
}