$color-primary: #FCD34D;
$color-secondary: #1E40AF;

$font-size-xlarge: 2.5rem;
$font-size-large: 1.5rem;
$font-size-medium: 1.25rem;
$font-size-small: 1rem;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi: 600;
$font-weight-bold: 700;