@import "variables";
@import "mixins";
@import "modules";

html {
	height: 100%;
	scroll-padding-top: 4rem;
}

body {
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	color: black;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

a {
	@include link(true);
	text-decoration: none;
}

section.main {
	flex: 1 0 auto;
	padding: 2rem 0;
	@include mobile {
		padding: 0;
	}
}

.menu-right {
	position: fixed;
	right: 10px;
	bottom: 30%;
	padding: 14px 8px;
	background-color: #DCEBFE;
	border-radius: 10px;
	z-index: 10000;

	a {
		display: block;

		+ a {
			margin-top: 24px;
		}
	}

	img {
		width: 32px;
		height: 32px;
		object-fit: contain;
	}
}