@import "variables";
@import "mixins";
@import "modules";

html {
	height: 100%;
	scroll-padding-top: 4rem;
}

body {
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	color: black;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

a {
	@include link(true);
	text-decoration: none;
}

section.main {
	flex: 1 0 auto;
	padding: 2rem 0;
	@include mobile {
		padding: 0;
	}
}